PORT=<PORT_NUMBER>
PROJECT_PATH=/Users/<YOUR_USER_NAME>/<PROJECTS_DIRECTORY>
SECRET=<SECRET_STRING>
GITHUB_USER=<USERNAME_OF_PROJECTS_OWNER>
GIT_SERVER=<GITHUB_SERVER_URL>
BASE_IMAGE=<e.g.: node:lts-alpine3.9 *OR* balenalib/raspberry-pi-alpine-node>